{% section 'hero' %}

<div class="container">
  <div class="featured-products">
    <h2 class="featured-products__title">Featured Products</h2>
    <div class="featured-products__grid">
      {%- for product in collections.all.products limit: 4 -%}
        <div class="featured-product">
          <a href="{{ product.url }}" class="featured-product__link">
            {{ product.featured_image | image_url: width: 400 | image_tag:
              loading: 'lazy',
              width: 400,
              height: 400,
              alt: product.featured_image.alt | escape
            }}
            <h3 class="featured-product__title">{{ product.title }}</h3>
            <div class="featured-product__price">
              {{ product.price | money }}
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div> 